<main>
    <div class="container-fluid">
        <h1 class="mt-4">Weather Service</h1>
        <div class="card mb-4">
            <div class="card-header"><i class="far fa-file-alt"></i> Datos del Cultivo </div>
            <div class="card-body">
                <p>Nombre: Finca Chicaguaico</p>
                <p>Localización: La Florida Nariño</p>
                <p>Altura: 1850M</p>
                <p>Area: 1 Hectarea</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-location-arrow"></i> Localización </div>
            <div class="card-body">
                <img src="~/Content/mapa.jpeg" />
            </div>
        </div>
    </div>
</main>