@model WeatherA.Models.WeatherSummary

@{
    ViewBag.Title = "Index";
}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Variables</h1>
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-temperature-high"></i> Temperatura </div>
            <div class="card-body">
                <div style="font-family:Calibri;font-size:50px;font-weight:900"> @Html.DisplayFor(model => model.temp)°C</div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-tint"> Humedad </i></div>
            <div class="card-body">
                <div style="font-family:Calibri;font-size:50px;font-weight:900"> @Html.DisplayFor(model => model.humidity)%</div>
                
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-cloud-rain"></i> Pluviometria </div>
            <div class="card-body">
                <div style="font-family:Calibri;font-size:50px;font-weight:900"> @Html.DisplayFor(model => model.precipRate)MM</div>
                
            </div>
        </div>
    </div>
</main>